<ion-header>
  <ion-navbar>
    <ion-title>
      Inmuebles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>    
  <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let casa of casas" col-6>
        <ion-card>
          <img *ngIf = "casa.hasOwnProperty('pictures')"
                src = "{{casa.pictures[0].url}}">
          <ion-card-content>
          <p *ngIf = "casa.hasOwnProperty('geo')">
            {{casa.geo.displayName}}, {{casa.geo.name}}
          </p>
          <h2 *ngIf = "casa.hasOwnProperty('price')">
            {{casa.price.formattedAmount}}, {{casa.price.currency}}
          </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
